<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spider Man | Multiverso</title>
  <link href="../miles-morales/miles-morales.component.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="s-wrapper">
    <video autoplay loop>
      <source src="../../assets/videos/homem-aranha-no-aranhaverso-teaser-trailer.mp4" type="video/mp4" />
    </video>

    <!--  Coluna da esquerda com menu (Left Column with menu)  -->
    <div class="s-left-column">
      <nav class="navigator">
        <div class="navigator__icon">
          <a href="../../index.html">
            <img src="../../assets/images/icons/icon-miles.png"/>
          </a>
        </div>
        <ul>
          <li><a href="miles-morales" class="active">01</a></li>
          <li><a href="miles-morales2">02</a></li>
        </ul>
      </nav>
    </div>
    <!-- FIM - Coluna da esquerda com menu (Left Column with menu)  -->

    <div class="s-main-content">
      <div class="s-main-content__top">
        <div class="s-logo">
          <img src="../../assets/images/spiderman-miles/movie-01/toppng.com-0mwrwiu-spider-man-into-the-spider-verse-logo-1037x349.png" alt="Spiderman (2019)"
            title="Spiderman (2019)" />
        </div>

        <div class="s-description">
          <div class="pills">
            <ul>
              <li>Ano: 2019</li>
              <li>Diretores: Peter Ramsey, Bob Persichetti, Rodney Rothman</li>
            </ul>
          </div>
          <div class="s-description__text">
            <p><strong>Sinopse:</strong>&nbsp;Após ser atingido por uma teia radioativa, Miles Morales, um jovem negro do Brooklyn, se torna o Homem-Aranha, inspirado no legado do já falecido Peter Parker. Entretanto, ao visitar o túmulo de seu ídolo em uma noite chuvosa, ele é surpreendido com a presença do próprio Peter, vestindo o traje do herói por baixo de um sobretudo. A surpresa fica ainda maior quando Miles descobre que ele veio de uma dimensão paralela, assim como outras versões do Homem-Aranha.</p>
          </div>
        </div>

        <div class="s-links">
          <ul>
            <li>
              <a href="https://www.youtube.com/watch?v=SS6ABPkfmBE" class="link-button" target="_blank">
                <span class="icon">
                  <div class="play-icon">&nbsp;</div>
                </span>
                <span class="label">
                  Assistir trailer
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="s-main-content__bottom">
        <div class="gallery">
          <ul>
            <li><a><img src="../../assets/images/spiderman-miles/movie-01/gallery/Homem-Aranha-no-Aranhaverso-1024x576.png" alt=""></a></li>
            <li><a><img src="../../assets/images/spiderman-miles/movie-01/gallery/Homem-aranha3.png" alt=""></a></li>
            <li><a><img src="../../assets/images/spiderman-miles/movie-01/gallery/spimer.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
